Notes/images
Notes/images
Notes/bin
Notes/obj
Notes/DynamicData
Notes/Properties
Notes/scripts
Notes/css
Notes.Tests/bin
Notes.Tests/obj
Notes.Tests/DynamicData
Notes.Test/Properties
packages
TestResults
Notes.sln
Notes.v12.suo